
* {
    display: flex;
    flex-direction: column;
}
header{
    flex-direction: row;
    padding: ;
    background-color: rgba(217, 217, 217, 1);
    height: 10%;
}

   
.ocultar-contenido{
    display: none;
    margin: 5px auto;
    width: 80% ;
    height: 80%;
    border: solid 1px black;
}
.mostrar-contenido{
    display: block;
    margin: 5px auto;
    width: 80% ;
    height: 80%;
    border: solid 1px black;
}
nav{
    flex-direction: row;
    margin: 5px auto; 
    height: 50%;
    width: 10%;
}